.THIS {
    background-color: white;
    height: 100%; 
    padding: 40px;
    padding-top:10px;
}
 
 .bgColor{
    background-color: white;
    margin: 10px;
    padding: 40px;
    padding-top:10px;
    }